body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 16px;
  color: #444;
  background-color: #D3DDE9;
}

a {
  font-size: 16px;
  color: #0A428E;
}

a:visited {
  color: #360A8E;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 1rem auto;
  padding: 1rem;
}
div.home {
  padding: 5px;
  background-color: #B6C6DB;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
  grid-template-rows: repeat(auto-fit, minmax(425px,425px));
  grid-gap: 1rem;
}

#grid > div {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}
