body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.8vmin;
  color: #444;
  background-color: #D3DDE9;
}

a {
  font-size: 1.8vmin;
  color: #0A428E;
}

a:visited {
  color: #360A8E;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 1vmin auto;
  padding: 1vmin;
}

#grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(min(250px, 100%), 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
  grid-gap: 1.2vmin;
}

div.listing {
  padding: 1.2vmin;
  background-color: #B6C6DB;
  -webkit-border-radius: 1vmin;
     -moz-border-radius: 1vmin;
          border-radius: 1vmin;
  font-size: 1.8vmin;
  text-align: center;
}

div.detail {
  display: grid;
  grid-template-columns: repeat( 2, minmax(100px, 1fr) );
  grid-gap: 0px;
}

div.detail_item {
  padding: 0px;
  font-size: 1.6vmin;
}
