body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: .9rem;
  color: #444;
  background-color: #D3DDE9;
}

a {
  font-size: 1em;
  color: #0A428E;
}

a:visited {
  color: #360A8E;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
}

.title {
  margin: 1vw;
}

#grid {
  margin: 1vw;
  display: grid;
  --min: 16em;
  --gap: .7em;

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(95%, var(--min)), 1fr));
}

div.listing {
  padding: 1.2vmin;
  background-color: #B6C6DB;
  -webkit-border-radius: 1vmin;
     -moz-border-radius: 1vmin;
          border-radius: 1vmin;
  font-size: 1em;
  text-align: center;
}

div.detail {
  display: grid;
  grid-template-columns: repeat( 2, minmax(100px, 1fr) );
  grid-gap: 0px;
}

div.detail_item {
  padding: 0px;
  font-size: .8em;
}
