<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>my-shopgoodwill</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>my-shopgoodwill</h1>
      </div>
      <div id="grid">
        {% for listing in listings %}
          <div class="listing">
            <a href="https://shopgoodwill.com/item/{{ listing.item_id }}" target="_blank" rel="noopener noreferrer">
              <img src="{{ listing.image_url }}" alt="Image of listing ID {{ listing.item_id }}">
              <p>{{ listing.title }}</p>
            </a>
            <div class="detail">
              <div class="detail_item">
                {% if listing.price is defined %}
                  {% set price = listing.price %}
                {% else %}
                  {% set price = 0 %}
                {% endif %}
                {% if listing.bids is defined %}
                  {% set bids = listing.bids %}
                {% else %}
                  {% set bids = 0 %}
                {% endif %}
                <p><b>${{ "%.2f"|format(price) }}</b></p>
              </div>
              <div class="detail_item">
                <p>{{ bids }} bids</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
